@charset "UTF-8";

#wrap {
	font-family: 'roboto';
}
h1 {
	color: #555;
}
nav {
	position: relative;
	height: 500px;
	overflow: hidden;
}
nav > .bnr {
	position: absolute;
	left: 0;
	top: 0;
	width: 300%;
	height: 500px;
}
nav > .bnr > li {
	float: left;
	width: calc(100%/3);
	background-image: url(../images/banner_1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav > .bnr > li:nth-child(2) {
	background-image: url(../images/banner_2.png);
}
nav > .bnr > li:nth-child(3) {
	background-image: url(../images/banner_3.png);
}
nav > .bnr > li > a {
	display: block;
	height: 600px;
	text-indent: -9999px;
}
nav > .btn {
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -39px;
}
nav > .btn > li {
	float: left;
	width: 18px;
	margin-right: 8px;
}
nav > .btn > li > a {
	display: block;
	height: 18px;
	text-indent: -9999px;
	background-image: url(../images/bul.png);
	background-repeat: no-repeat;
}
nav > .btn > li.on > a,
nav > .btn > li:hover > a {
	background-position: 0 -18px;
}

.clear {
	*zoom: 1;
}
.clear:after {
	display: block;
	clear: both;
	content: "";
}
