@charset "utf-8";

/* 네비게이션 영역 */
header {
	position: fixed;
	right: 20px;
	top: 50%;
	margin-top: -50px;
}

header > nav {
}

header > nav > .gnb {
}

header > nav > .gnb > li {
}

header > nav > .gnb > li > a {
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

header > nav > .gnb > li.active > a,
header > nav > .gnb > li > a:hover {
	color: #fff;
	font-weight: 800;
}

/* 컨텐츠 */
article {
	/* 가세정렬 하려고 아래 3줄 작성 */
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 150px;
}

.cont0 {
	height: 1000px;
	background-color: #ccc;
}

.cont1 {
	height: 845px;
	background-color: #9f9;
}

.cont2 {
	height: 800px;
	background-color: #fc9;
}

.cont3 {
	height: 600px;
	background-color: #990;
}

.cont4 {
	height: 1000px;
	background-color: #6fc;
}
