@charset "utf-8";

#wrap {
	width: 886px;
	margin: 0 auto;
}

header {
	margin-bottom: 3px;
}
header > nav {
	position: relative;
	height: 37px;
	background-image: url(../images/cafe_menu.gif);
}
header > nav > .gnb {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	top: 0;
}
header > nav > .gnb > li {
	width: 70px;
	background-image: url(../images/cafe_menu.gif);
}
header > nav > .gnb > li:nth-child(1) {
	width: 70px;
	background-position: 0 -37px;
}
header > nav > .gnb > li:nth-child(2) {
	width: 65px;
	background-position: -70px -37px;
}
header > nav > .gnb > li:nth-child(3) {
	width: 73px;
	background-position: -135px -37px;
}
header > nav > .gnb > li:nth-child(4) {
	width: 74px;
	background-position: -208px -37px;
}
header > nav > .gnb > li:nth-child(5) {
	width: 61px;
	background-position: -282px -37px;
}
header > nav > .gnb > li:nth-child(6) {
	width: 73px;
	background-position: -343px -37px;
}
header > nav > .gnb > li:nth-child(7) {
	width: 73px;
	background-position: -416px -37px;
}
header > nav > .gnb > li:nth-child(8) {
	width: 73px;
	background-position: -489px -37px;
}

header > nav > .gnb > li:nth-child(1):hover {
	background-position: 0 0;
}
header > nav > .gnb > li:nth-child(2):hover {
	background-position: -70px 0;
}
header > nav > .gnb > li:nth-child(3):hover {
	background-position: -135px 0;
}
header > nav > .gnb > li:nth-child(4):hover {
	background-position: -208px 0;
}
header > nav > .gnb > li:nth-child(5):hover {
	background-position: -282px 0;
}
header > nav > .gnb > li:nth-child(6):hover {
	background-position: -343px 0;
}
header > nav > .gnb > li:nth-child(7):hover {
	background-position: -416px 0;
}
header > nav > .gnb > li:nth-child(8):hover {
	background-position: -489px 0;
}

header > nav > .gnb > li:nth-child(1).on {
	background-position: 0 0;
}
header > nav > .gnb > li:nth-child(2).on {
	background-position: -70px 0;
}
header > nav > .gnb > li:nth-child(3).on {
	background-position: -135px 0;
}
header > nav > .gnb > li:nth-child(4).on {
	background-position: -208px 0;
}
header > nav > .gnb > li:nth-child(5).on {
	background-position: -282px 0;
}
header > nav > .gnb > li:nth-child(6).on {
	background-position: -343px 0;
}
header > nav > .gnb > li:nth-child(7).on {
	background-position: -416px 0;
}
header > nav > .gnb > li:nth-child(8).on {
	background-position: -489px 0;
}
header > nav > .gnb > li > a {
	display: block;
	height: 37px;
	text-indent: -9999px;
}

header > nav > p {
	position: absolute;
	right: 0;
	top: -15px;
	width: 220px;
	background-image: url(../images/cafe_event.gif);
}
header > nav > p > a {
	display: block;
	height: 52px;
	text-indent: -9999px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background-color: #29a989;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #fcc765;
}
