@charset "utf-8";

#slides {
	overflow: hidden;
	position: relative;
	width: 800px;
	height: 60px;
	margin: 0 auto;
	border: 1px solid #dedede;
}

#slides > .slides-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 1800px;
}

#slides > .slides-container > li {
	float: left;
	width: 200px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}

#slides > .slides-container > li.banner_1 {
	background-image: url(../images/banner_1.jpg);
}

#slides > .slides-container > li.banner_2 {
	background-image: url(../images/banner_2.jpg);
}

#slides > .slides-container > li.banner_3 {
	background-image: url(../images/banner_3.jpg);
}

#slides > .slides-container > li.banner_4 {
	background-image: url(../images/banner_4.jpg);
}

#slides > .slides-container > li.banner_5 {
	background-image: url(../images/banner_5.jpg);
}

#slides > .slides-container > li.banner_6 {
	background-image: url(../images/banner_6.jpg);
}

#slides > .slides-container > li.banner_7 {
	background-image: url(../images/banner_7.jpg);
}

#slides > .slides-container > li.banner_8 {
	background-image: url(../images/banner_8.jpg);
}

#slides > .slides-container > li > a {
	display: block;
	height: 60px;
	text-indent: -9999px;
}

footer > address {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}
