@charset "utf-8";
@mixin flexSet($fd:row,$fw:nowrap) {
	display: flex;
	flex-direction: $fd;
	flex-wrap: $fw;
}
@mixin floatClear() {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
@mixin bgSet() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#wrap {
	width: 706px;
	margin: 0 auto;
	> header {
		margin: 16px 0;
		> .gnb {
			@include floatClear();
			margin-bottom: 5px;
			> li {
				float: left;
				width: 74px;
				margin-right: 5px;
				@include bgSet();
				&:last-child {
					margin-right: 0;
				}
				&:nth-child(1) {
					background-image: url(../images/th1.jpg);
				}
				&:nth-child(2) {
					background-image: url(../images/th2.jpg);
				}
				&:nth-child(3) {
					background-image: url(../images/th3.jpg);
				}
				&:nth-child(4) {
					background-image: url(../images/th4.jpg);
				}
				&:nth-child(5) {
					background-image: url(../images/th5.jpg);
				}
				&:nth-child(6) {
					background-image: url(../images/th6.jpg);
				}
				&:nth-child(7) {
					background-image: url(../images/th7.jpg);
				}
				&:nth-child(8) {
					background-image: url(../images/th8.jpg);
				}
				&:nth-child(9) {
					background-image: url(../images/th9.jpg);
				}
				> a {
					display: block;
					height: 74px;
					text-indent: -9999px;
					&:hover {
						outline: 1px solid blue;
					}
				}
			}
		} //end of .gnb
	} //end of header
	> section {
		height: 388px;
		> .screen {
			> img {
				display: block;
				width: 100%;
			}
		}
	} //end of section
} //end of #wrap
